.about-image{
    background-image: url('../../public/images/about-hero.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    height: 50vh;
}

.about-contanier{
    background-color: #FFF7ED;
    padding: 2.5em 2em;
}

.about-box h1{
    margin-bottom: 1.3em;
    line-height: 1.5em;
}

.about-box p{
    margin-bottom: 1.5em;
}

.about-contanier2{
    background-color: #FFCC8D;
    padding: 2em;
    border-radius: 10px;
}

.about-contanier2 h2{
    line-height: 1.2em;
}

.about-box button{
    margin-top: 1.5em;
    padding: 1.1em 1.3em;
    font-weight: bolder;
    border-radius: 10px;
    background-color: #161616;
    border: none;
    color: #fff;
    cursor: pointer;
}