.host-box{
    background-color: #FFF7ED;
    padding-top: 6em;
    width: 100%;
}

.host-nav-box{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5em;
}

.host-nav-box a{
    color: inherit;
    text-decoration: inherit;
    flex: 0 ;
    font-size: 1.1rem;
    background-color: #FFEAD0;
    border-radius: 15px;
    padding: 0.4em 1em;
}