.vans-box{
    background-color: #FFF7ED;
    padding: 4.5em 2em;
}
.vans-box h1{
    margin-bottom: 1em;
}

.van-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.van-box{
    width: 47%;
    max-width: 160px;
    margin-bottom: 2em;
}
.van-box img{
    width: 100%;
    border-radius: 10px;
}
.van-box h3{
    font-weight: bolder;
}