*{
    margin: 0;
    box-sizing: border-box;
}

.vans-box{
    background-color: #FFF7ED;
    padding: 4.5em 2em;
}
.vans-box h1{
    margin: 2em 0 1em;
}

.van-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.van-box{
    width: 47%;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.van-box img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 0.7em;
}

.van-box button{
    border: none;
    padding: 0.5em 1em;
    font-weight: bolder;
    color: #FFEAD0;
    border-radius: 5px;
    margin-top: 0.3em;
}

.vans-writeUp{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    
}

.vans-text{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.vans-text h2{
    font-weight: bolder;
    font-size: 100%;
}

.vans-price{
    font-family: "Lilita One", sans-serif;
    font-size: 100%;
    font-weight: 500;
    width: 15%;
    text-align: right;
}
.vans-price p {
    margin-bottom: -3px;
}