html{
    font-size: 12px;
  }
  
  *{
    margin: 0;
    box-sizing: border-box;
  }
  
  body{
    font-family: "Playwrite DE Grund", cursive;
    font-size: 1rem;
  }

  a{
    color: inherit;
    text-decoration: inherit;
  }
  